#not-found {
  header {
    text-align: center;

    h1 {
      position: relative;
      width: 400px;
      margin: 100px auto 40px;
      left: -40px;
    }
  }

  p {
    padding: 10px;
    text-align: center;
  }
}
